body {
	background: url(pink.jpg);
	font-family: 'Roboto', sans-serif;
font-family: 'Roboto', sans-serif;
}  
p{
	color: purple;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
{
	width: 200px;
	heigh: 50px ;
	 white;
}
.card{
	height: 200px;
	color: pink;
	 purple;

}